<div class="container">

<div class="row">
  <div class="col-md-3">
    <%= image_tag(user_avatar(@user)) %>
  </div>
  <div class="col-md-9">
    <h1 class="buffer-section"><%= @user.name %></h1>
    <% if @user == current_user || current_user_is_admin? %>
      <p class="buffer-top"><%= link_to 'Редактировать профиль',
                                        edit_user_path(@user), class: 'btn btn-default' %></p>
    <% end %>
  </div>
</div>

<div class="row buffer-top">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mybooks">Мои книги (<%= Book.where(user: @user).count %>)</a></li>
    <% if @user.lists.any? %>
      <% @user_lists = @user.lists %>
      <% @user_lists.each do |list| %>
        <li><a data-toggle="tab" href=<%= "#list_#{list.id}" %>><%= list.name %> (<%= BookList.where(list: list).map(&:book).count %>)</a></li> 
      <% end %>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="mybooks" class="tab-pane fade in active">
      <% if @user.books.any? %>
        <%= render partial: 'books/book', collection: @user.books %>
      <% else %>
        <p>Пока не добавлено ни одной книги</p>
      <% end %>
    </div>
    <% if @user_lists.present? %>
    <% @user_lists.each do |list| %>
      <% @books = BookList.where(list: list).map(&:book) %>
      <div id=<%= "list_#{list.id}" %> class="tab-pane fade">
        <% if @books.present? %>
          <%= render partial: 'books/book', collection: @books %>
        <% else %>
          <p class="buffer-top buffer-left-txt">Пока не добавлено ни одной книги</p>
        <% end %>
      </div>
    <% end %>
    <% end %>
     
    </div>
  </div>
</div>

</div>