<%# Паршиал дляотображения формы создания нового раздела %>
<%= form_for(@section) do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @section} %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      или <%= link_to 'вернуться', :back %>
    </div>
<% end %>
