<div class="container padd0-left">
<div class="row buffer-top">
  <div class="col-md-10">
      <h2><%= @chat.theme %></h2>
  </div>
  <div class="col-md-2">
    <span>Добавил:<%= render partial: 'users/user', object: @chat.user %></span>
  </div>
</div>

<div class="row buffer-top">
<div class="col-md-12">
    <% if user_signed_in? %>
        <%= render partial: 'comments/form',
                   locals: {comment: @new_comment || @chat.comments.build} %>
    <% end %>

    <div class="buffer-both">
      <%= render partial: 'comments/comment',
                 collection: @chat.comments.except(@new_comment) %>
    </div>
</div>
</div>

<div class="buffer-list">
  <%= link_to t('view.btn.backbook'), books_path %>
</div>
</div>