<div class="row">
  <div class="col-md-4 buffer-top">
   <div class="book_cover">
     <div class="book-img">
       <%= image_tag(book_img(@book)) %>
     </div>
   </div>

   <% if current_user_can_edit?(@book) %>
     <div class="buffer-top">
       <%= link_to t('view.btn.change'), edit_book_path(@book),
                      class: 'btn btn-primary' %>
       <%= link_to t('view.btn.delete'), book_path(@book),
                      method: :delete, data: { confirm: t('view.message.sure') }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 buffer-top">
    <div class="buffer-left">
      <h2> <%= @book.title %> </h2>
      <h3> <%= @book.author %> </h3>
      <span class="buffer-bottom">Раздел библиотеки: <%= @book.section.name %> </span>
      <p> <%= @book.description %> </p>
    </div>
  </div>
  <div class="col-md-2 buffer-top">
    <span>Добавил: <%= link_to @book.user.name, user_path(@book.user_id) %> </span>
  </div>
</div>

<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <% if current_user_can_add_book? %>
      <h4>Добавить книгу в мой список</h4>
      <%= form_tag create_booklist_book_path(@book), :method => :get do %>
        <%= render partial: 'partials/form_errors', locals: {model: @book} %>
        <p class="buffer-top">
          <%= select_tag :query, options_for_select(current_user.lists.collect{ |u| [u.name, u.id] }, params[:query])%>
          <%= submit_tag "Добавить", class: 'btn btn-primary btn-sm' %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="buffer-list">
<%= link_to t('view.btn.backbook'), books_path %>
</div>